@font-face{
  font-family: 'up_font';
  src:url('./up_font.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: #DECDC6;
}

.title {
  max-width: 100%;
}

.MainLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 300px;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
}

.title {
  width: 100vmax;
  background-color: #151C48;
  display: inline-block;
  margin-bottom: 0px;
}

.content{
  margin-top: 50px;
}

.content h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'up_font', Arial;
  color:#151c48;
}

.content p {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1000px;
  padding: 0 50px;
  font-family: Arial;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #151c48;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: blue;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}