@font-face{
  font-family: 'up_font';
  src:url('./up_font.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: #DECDC6;
  }

.MainLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 100px;
  width: 300px;
  object-fit: cover;
}

.title {
  width: 100vmax;
  background-color: #151C48;
}

.content {
  background-color: white;
  height: 80vmax;
  width: 90vmax;
  margin-top: 2vmax;
  margin-left: 5vmax;
  border-radius: 25px;
  text-align: center;
}

.button-group {
  text-align: center;
}

.button-group button {
  padding: 10px 20px;
  background-color: transparent;
  color: #151c48;
  padding: 100px 100px;
  border: none; 
  border-radius: 5px;
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.button-group button:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.button-left {
  margin-left: 150px
}

.button-rigbt {
  margin-right: 150px
}

h1 {
  margin: 0 auto;
  font-family: 'up_font', Arial;
  color:#151c48;
}
